.icon {
	color: #cdae51;
	padding: 0.3em;
}

body {
	padding-top: 70px;
}

.collapse {
	padding: 0.8em;
}


.nav-tabs {
	border-color:#1A3E5E;
 }

.nav-tabs > li a {
	display: flex;
    justify-content: center;
    align-items: center;
	border: 1px solid #1A3E5E;
    background-color: #2F71AB;
    color: #FFFFFF;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color:#D6E6F3;
    color: #000;
    border: 1px solid #1A3E5E;
    border-bottom-color: transparent;
}

.nav-tabs > li > a:hover {
  background-color: #D6E6F3 !important;
    border-radius: 5px;
    color: #000;
}

h1 {
	text-align: center;
}

.purpose {
	text-align: center;
}

.nav-tabs a {
   height: 75px;
}